<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydc.basepack.mapper.SpuMapper">


    <select id="pageByQuery" resultType="com.ydc.basepack.model.dto.SpuDTO">
        select
        *
        from
        tb_spu
        <where>
            <if test="name!=null and name!=''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="saleable!=null and saleable!=''">
                and saleable = #{saleable}
            </if>
        </where>
    </select>

    <select id="querySpuDetailById" resultType="com.ydc.basepack.model.dto.SpuDetailDTO">
        select
        *
        from
        tb_spu_detail
        <where>
            <if test="spuId!=null">
                and spu_id=#{spuId}
            </if>
        </where>
    </select>

</mapper>
